.main-footer {
    background: #343a40;
    color: #fff;
    padding-top: 3rem;
}

.footer-bottom {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

ul li a {
    color: rgba(109, 109, 109)
}

ul li a:hover {
    color: rgba(171, 172, 172)
}

.nvbr li:hover {
    background-color: red;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-toggler {
    border: none;
}

.error-template {
    margin-left: 330px;
}

.header {
    color: #343a40;
    background: linear-gradient(rgba(109, 109, 109), rgba(255, 255, 255));
    height: 100vh;
    text-align: center;
    text-transform: uppercase;
}

.iconss {
    margin-top: -150px;
    margin-bottom: 150px;
}

i {
    font-size: 1.5rem;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s
}

i:hover {
    color: blue;
    opacity: 1;
}

.header h4 {
    margin-top: 4%;
}

.header h1 {
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
}

@media(max-width: 600px) {
    h1, h4 {
        color: white;
    }
}